<%- include('./partials/header.ejs')%>
  <body>
    <%- include ('./partials/navbar.ejs') %>
    <h1>Estilo do bootstrap</h1>

    <div class="container"> 
      <hr>
      <h1> <%= pergunta.titulo %> </h1>
      <p> <%= pergunta.descricao %> </p>
      <hr>
      <form method="POST" action="/responder">
        <h3>Responda a pergunta</h3>
        <label >Resposta: </label>
        <textarea placeholder="Digite sua pergunta" class="form-control" name="corpo"></textarea><br>
        <input type="hidden" name="pergunta" value=" <%= pergunta.id %>">
        <button type="submit" class="btn btn-dark" >Responder</button>
      </form>
      <hr>
      <h3>Respostas</h3>
      <hr>
      <% resposta.forEach(Resposta => { %>
        <br>
        <div class="card">
          <div class="card-body">
            <p><%= Resposta.corpo %></p>
          </div>
        </div>
      <%  }) %>
    
    </div>

  </body>
<%- include ('./partials/footer.ejs') %>

